PORT=8080
MONGODB_URI=mongodb://localhost:27017/rifaonline
MONGODB_DB_NAME=rifaonline
REDIS_URI=redis://localhost:6379
JWT_SECRET=seu-secret-aqui
INFINITEPAY_HANDLE=cole_sua_infinite_tag_aqui
FRONTEND_URL=http://localhost:5173
